[tool.poetry]
name = "pluck-graphql"
version = "0.3.5"
description = "Transform GraphQL queries into Pandas data-frames."
readme = "README.md"
authors = ["Martin Galpin <galpin@gmail.com>"]
license = "MIT License"
repository = "https://github.com/galpin/pluck"
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
    "Topic :: Scientific/Engineering",
    "Intended Audience :: Developers",
]
packages = [
    { include = "pluck", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.10"
pandas = ">=1.4"
graphql-core = "^3.2.1"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
httpretty = "^1.1.4"
isort = "^5.10.1"
black = "^22.6.0"
twine = "^4.0.1"

[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"
nbconvert = "^7.9.2"
tabulate = "^0.9.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
