name: CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [ '3.10' ]
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Setup Python
      run: uv python install ${{ matrix.python-version }}
    - name: Setup Rust
      uses: dtolnay/rust-toolchain@stable
    - name: Install dependencies
      run: uv sync
    - name: Build Rust extension
      run: uv run maturin develop --release
    - name: Test
      run: uv run pytest
      working-directory: tests
      env:
        PYTHONPATH: ../src
    - name: Build
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.10'
      run: uv run maturin build --release
    - name: Upload
      uses: actions/upload-artifact@v3
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.10'
      with:
        name: packages
        path: target/wheels/*
